.language {
	height: 3.5vw;
	width: 3.5vw;
	z-index: 1;
	position: fixed;
	left: 0.75%;
	bottom: calc(3.5vw + 1.5%);
	border-radius: 10px 10px 0 0;
	border: none;
}

.darkLanguage {
	background-color: rgba(0, 0, 0, 0.25);
	&:hover {
		background-color: rgba(0, 0, 0, 0.5);
		color: black;
	}
}

.lightLanguage {
	background-color: rgba(255, 255, 255, 0.25);
	&:hover {
		background-color: rgba(255, 255, 255, 0.5);
		color: black;
	}
}

.languageButton {
	height: 100%;
	width: 100%;
	border: none;
	border-radius: 0 10px 0 0;
	outline: none !important;
	box-shadow: none !important;
	cursor: pointer;
	background-color: transparent;
}

.languageFlag {
	height: 40%;
	width: 70%;
	vertical-align: middle;
}
