.nightMode {
	height: 3.5vw;
	width: 3.5vw;
	z-index: 1;
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: transparent;
	border-radius: 10px 0 0 0;
	border: none;
}

.nightModeButton {
	height: 100%;
	width: 100%;
	border: none;
	border-radius: 0 10px 0 0;
	outline: none !important;
	box-shadow: none !important;
	cursor: pointer;
	background-color: transparent;
}

.whiteBackground {
	&:hover {
		background-color: rgba(0, 0, 0, 0.25);
		color: black;
	}
}

.blackBackground {
	&:hover {
		background-color: rgba(255, 255, 255, 0.25);
		color: black;
	}
}

.sun {
	height: 65%;
	width: 65%;
	vertical-align: middle;
}

.moon {
	height: 65%;
	width: 65%;
	vertical-align: middle;
}
