<div class="skillsContainer">
    <div class="skillsField" [ngClass]="{lightSkillsField: nightMode, darkSkillsField: !nightMode}"
        *ngFor="let skills of skillsFields; let index = index">
        <div class="row">
            <span class="fieldLabel col text-center">{{ fieldLabels[index] }}</span>
        </div>

        <div class="skills row">
            <div class="skill" *ngFor="let skill of skills">
                <img class="skillImage" [src]="'../../../assets/images/' + skill[1]">
            </div>
        </div>
    </div>
</div>