<div class="skillsContainer">
    <div class="skillsField" [ngClass]="{lightSkillsField: nightMode, darkSkillsField: !nightMode}"
        *ngFor="let skills of skillsFields; let index = index">
        <span class="fieldLabel">{{ fieldLabels[index] }}</span>

        <div class="skills">
            <div class="skill" *ngFor="let skill of skills" [ngClass]="{tooltipLight: nightMode, tooltipDark: !nightMode}">
                <img class="skillImage" [src]="'../../../assets/images/' + skill[1]">
            </div>
        </div>
    </div>
</div>