.skillsContainer {
	margin-top: 7.5%;
}

.skillsField {
	border-radius: 10px;
	margin: 2.5% 5% 5% 5%;
	padding: 2.5%;
    text-align: center;
}

/* .lightSkillsField {
    background-color: rgba(255, 255, 255, 0.5);
}

.darkSkillsField {
    background-color: rgba(0, 0, 0, 0.5);
} */

.fieldLabel {
    text-align: center;
    font-size: 40px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skill {
    height: 20vh;
    width: 10vw;
    margin: 3.5%;
}

.skillImage {
    max-height: 100%;
    max-width: 100%;
}